.gitlab-ci.yml
.gitignore
.dockerignore
README.md
README.md.old
main.go
charts/*
build
.gitlab
#go.sum
#go.mod


dist/
build/
bin/
vendor/
.idea/
.DS_Store
*-packr.go
.goreleaser.yml
.realize.yaml

Main.go.main